@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
/* author: owr#6062 */
.nav-menu {
	background-color: #000000A2;
    width: 100%;
    padding: 10px 0px;
	font-family: 'Montserrat', sans-serif;
    user-select:none;

	
}
.img-fluid{
	pointer-events: none;
}
#nav-menu{
	transition-property:background-color, padding;
	transition-duration:0.5s;
}
.line-under-header{
	width: 100%;
	height:2px;
	background: rgb(133,129,47);
	background: linear-gradient(to right, blue 0%, darkviolet 100%, rgba(0,212,255,1) 100%);
	margin-top:698px;
}

/* SCROLLBAR ,*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #7600a9;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #490069;
}

.footer{
	margin-top:50px;
	width:100%;
	height:125px;
	padding: 15px 0px;

	color:#fff;
	/*background-color:#9400d3;*/
	background-color:rgb(2,2,2,0.5);
	border-top: 2px solid #42005e;

	font-family: 'Dosis', sans-serif;
}

.footer-container{
	width:auto;
	max-width:890px;
	height:100%;
	margin-left:25px;
	margin:auto;
}

.footer-boxLeft{
	float:left;
}
.footer-boxRight{
	float:right;
	margin-right:50px;
}

.footer-image{
	width:96px;
	float: left;
}

.footer-subtitle{
	font-size:14px;
}